.root{
    -fx-background-color: #212121;
    -fx-font-family: impact;
    -fx-font-size:10pt;
}
.button {
    -fx-font-size:12pt;
    -fx-background-radius:10;
    -fx-background-color:rgb(0,0,255);
    -fx-text-fill:#FFFFFF;
    -fx-border-color:#000000;
    -fx-border-radius:10;
    -fx-padding:10px;
}
.button:hover{
    -fx-background-color:#558b2f;
}